<a href='#/links'>Links</a> <a href='#/shorten'>Shorten</a>
<div class="navigation">

<div id='container'>
  <!-- show all links -->
<form name="linkForm" ng-submit='addLink()' novalidate>
  <input name='longLink' type='url' ng-model='link.url' placeholder='Enter yo url here' required ng-class="{'error': linkForm.$invalid && linkForm.$dirty}"/>
  <button type="submit" ng-disabled='linkForm.$invalid'>Submit</button>
  </form>
  <div ng-if='linkForm.longLink.$error.required && linkForm.$dirty'>
    <h2> Url required </h2>
  </div>
  <div ng-show='linkForm.longLink.$error.url && linkForm.$dirty'>  
    <h2> Not a valid url </h2>
  </div>
</div>
